@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,200;0,400;0,500;0,600;0,700;1,200;1,400;1,500;1,600;1,700&display=swap');

/* Match font to new CICS website */
*:not(.fa-solid, .fa-regular) {
    font-family: "Public Sans", Arial, Helvetica, sans-serif !important;
}

h1, h2 {
    font-weight: 700;
}

h3 {
    font-weight: 600;
}

div.padded-section {
    padding-top: 1rem;
    padding-bottom: 4rem;
}

div.small-padded-section {
    padding-top: 0.75rem;
    padding-bottom: 1.5rem;
}

.text-in-donut {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.small-text {
    font-size: small;
}

.small-super-text {
    font-size: x-small;
    vertical-align: 10px;
}

.quick-stats li {
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.nav-item a {
    font-size: 15px;
}

/* Navigation Tabs */
/* Sets the colors of the navigation tabs */
.nav-pills > li > button.active, .nav-pills > .dropdown > ul > li > a.active {
    background-color: #6c757d !important;
}

.nav-pills > li > button:not(.active), .nav-pills > li > a:not(.active) {
    color: #6c757d !important;
}

.nav-pills > li > button:hover:not(.active) {
    color: #8f9ba6 !important;
}

@media screen and (max-width: 576px) {
    .nav-pills > li {
        flex-basis: 100%;
    }
    .nav-pills > li > * {
        width: 100%;
    }
}

.text-callout {
  padding: 20px;
  margin: 20px 0;
  border: 0 solid #eee;
  border-left-width: 5px;
}

.text-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.text-callout p:last-child {
  margin-bottom: 0;
}

.text-callout code {
  border-radius: 3px;
}

.text-callout + .bs-callout {
  margin-top: -5px;
}

.callout-default {
  border-left-color: #dee2e6;
    background-color: rgb(248, 249, 250);
}
.callout-default {
  color: rgb(33, 37, 41);
}

.callout-default a {
    color: rgb(33, 37, 41);
    background-color: rgba(136, 28, 28, 0.05);
    text-decoration: underline;
    text-decoration-color: rgb(136, 28, 28);
    text-decoration-thickness: 2px;
    font-weight: 600;
}

.callout-default a:hover {
    background-color: rgba(136, 28, 28, 0.1);
}

.callout-primary {
  border-left-color: #428bca;
    background-color: #428bca;
}
.callout-primary h4 {
  color: #428bca;
}

.callout-success {
  border-left-color: #5cb85c;
}
.callout-success h4 {
  color: #5cb85c;
}

.callout-danger {
  border-left-color: #d9534f;
}
.callout-danger h4 {
  color: #d9534f;
}

.callout-warning {
  border-left-color: #f0ad4e;
}
.callout-warning h4 {
  color: #f0ad4e;
}

.callout-info {
  border-left-color: #9eeaf9;
        background-color: rgb(207, 244, 252);
}
.callout-info {
  color: rgb(5, 81, 96);
}

.callout-bdc {
  border-left-color: #29527a;
}
.callout-bdc h4 {
  color: #29527a;
}
