
.callout {
    position: relative;
    padding: 10px;
    max-width: 1000px;
}

.callout-working-header {
    padding: 10px;
    background: rgb(46,139,87);
    font-size: 30px;
    color: white;
}
.callout-continuing-ed-header {
    padding: 10px;
    background: rgb(0, 174, 199);
    font-size: 30px;
    color: white;
}
.callout-looking-header {
    padding: 10px;
    background: rgb(136, 28, 28);
    font-size: 30px;
    color: white;
}
.callout-academia-header {
    padding: 10px;
    background: #cb6015;
    font-size: 30px;
    color:white
}
.callout-unknown-header {
    padding: 10px;
    background: rgb(162, 170, 173);
    font-size: 30px;
    color: white;
}
.callout-not-seeking-header {
    padding: 10px;
    /* background: #ff9900; */
    background: rgb(255, 158, 27);
    font-size: 30px;
    color: white;
}
.callout-container {
    padding: 15px;
    background-color: #EEEEEE;
    color: black;
    font-size: 15px;
}

.sscallout {
    position: relative;
    padding: 10px;
    max-width: 1000px;
}

.callout-data-container-sal {
    padding: 15px;
    background-color: #f3fadc;
    color: black;
    font-size: 15px;
    width: 49%;
    float: left;
}
.callout-data-container-sat {
    padding: 15px;
    background-color: #f3fadc;
    color: black;
    font-size: 15px;
    width: 49%;
    float: left;
}

.callout-salary-header {
    padding: 10px;
    background: #6ba539;
    font-size: 30px;
    color: white;
    width: 49%;
    float: left;
}
.callout-satisfaction-header {
    padding: 10px;
    background: #ffc72c;
    font-size: 30px;
    color: white;
    width: 49%;
    float: left;
    justify-content: space-around;
}
.callout-space{
    padding: 10px
}

.space {
    padding: 100px;
}
.small-space{
    padding: 25px;
}
.xs-space{
    padding: 10px;
}

.callout-cell {
    background: #fff3cd;
    padding: 1.5rem;
    border-radius: 1rem;
}

/* Targets Extra Small Screens */
@media screen and (max-width: 575px) {
    .callout-cell {
        padding: 1.5rem 1px 1.5rem 1px;
    }

    .callout-cell-row {
        padding-left: 10px;
        padding-right: 10px;
    }

    .callout-cell-container {
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
    }

}

.chart--container {
    height: 100%;
    width: 100%;
    min-height: 100vw;
}

.zc-ref {
    display:none;
}

@media screen and (min-width: 768px) {
    .chart--container {
        min-height: 40vw;
    }
}

.empGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    margin: auto;
}
.empGrid > div {
    background: #FFD580;
    padding: 1.5rem;
    border-radius: 1rem;
}
.body {
    width: 100vw;
    height: 100vh;
}
.fillin{
    height: 2em;
}
.op-reduce{
    opacity: 0.5;
}
.kr-wrap{
    text-align: center;
    margin: auto;
    width: 100%;
    font-size: 1.2em;
    margin: 1em;
}
.knowledge-rate{
    font-size: 5em;
}
.kr-s2{
    margin: 1em;
    font-size: 1.7em;
    color: #636363;
    font-style: italic;
}
.kr-s1-wrap{
    display: flex;
    justify-content: center;
}
.kr-s1{
    margin: auto 1em;
}
.chart2023{
    display: flex;
    justify-content: center;
}
/* .chart2023-wrap{
    text-align: center;
} */
.dummy{
    height: 40em;
}
.KR-head{
    font-size: 3em;
    color: #881c1c;
}

.chart--container {
    width: 100%;
    height: 500px;
    margin: 0 auto;
  }


/* ===== BOOTSTRAP DROPDOWN FIX ===== */
.container {
    overflow: visible !important;
}
