
.callout {
    position: relative;
    padding: 10px;
    max-width: 4500px;
}

.callout-working-header {
    padding: 10px;
    background: rgb(46,139,87);
    font-size: 30px;
    color: white;
}
.callout-continuing-ed-header {
    padding: 10px;
    background: rgb(0, 174, 199);
    font-size: 30px;
    color: white;
}
.callout-looking-header {
    padding: 10px;
    background: rgb(136, 28, 28);
    font-size: 30px;
    color: white;
}
.callout-unknown-header {
    padding: 10px;
    background: rgb(162, 170, 173);
    font-size: 30px;
    color: white;
}
.callout-container {
    padding: 15px;
    background-color: #EEEEEE;
    color: black;
}
.float-container {
    width: 1000px;
    padding: 10px;
    margin: 60px;
}


.float-child {
    text-align: center;
    text-decoration-color: #212121;
    background-color: #e1f3f8;
    border-style: solid;
    width: 45%;
    float: left;
    padding: 20px;
    margin: 10px;
}

.space{
    padding: 100px;
}