.center-two {
    width: 60%;
    padding: 15px;
}
.callout {
    position: relative;
    padding: 10px;
    max-width: 4500px;
}

.callout-working-header {
    padding: 10px;
    background: rgb(46,139,87);
    font-size: 30px;
    color: white;
}
.callout-continuing-ed-header {
    padding: 10px;
    background: rgb(0, 174, 199);
    font-size: 30px;
    color: white;
}
.callout-looking-header {
    padding: 10px;
    background: rgb(136, 28, 28);
    font-size: 30px;
    color: white;
}
.callout-unknown-header {
    padding: 10px;
    background: rgb(162, 170, 173);
    font-size: 30px;
    color: white;
}
.callout-container {
    padding: 15px;
    background-color: #EEEEEE;
    color: black;
}